.full-button {
    width: 380px;
    height: 75px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgb(37, 103, 103);
    padding: 10px 20px;
    font-size: 18px;
    white-space: nowrap;
}

.full-button:disabled {
    background-color: rgb(100, 100, 100);
}