.header {
    padding: 5% 0px;
    align-items: center;
    border-bottom: 2px;
}

.header-title {
    font-size: 25px;
    justify-content: center;
    color: grey;
}

.header-line {
    width: 100%;
    height: 1px;           /* 가로선 두께 */
    background-color: #ccc; /* 가로선 색상 */
    margin-top: 20px;
}